@charset "utf-8"

@font-face
    font-family: 'Montserrat'
    src: url('/assets/montserrat-regular-webfont.woff2') format('woff2'), url('/assets/montserrat-regular-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

@import "_myvariables.sass"
@import "bulma/sass/base/minireset.sass"
@import "bulma/sass/base/generic.sass"
@import "bulma/sass/helpers/_all.sass"
@import "bulma/sass/grid/columns.sass"
@import "bulma/sass/components/navbar.sass"
@import "bulma/sass/elements/box.sass"
@import "bulma/sass/elements/container.sass"
@import "bulma/sass/elements/content.sass"
@import "bulma/sass/elements/title.sass"
@import "bulma/sass/layout/footer.sass"
@import "bulma/sass/layout/hero.sass"
@import "bulma/sass/layout/section.sass"

\:root
    --accordion-max-height: calc( 100rem * 1.5 )

h1,
h2,
h3,
h4,
h5,
h6
    font-family: $heading-family-primary

body, .main-dark
    background-color: $htmlBody-color
.main-light
    background-color: $white

section
    .content h1
        border-bottom: $border-decoration
        display: inline-block
        font-weight: $weight-light;
        text-transform: uppercase
    .content
        // text-align: center

// Included serviceItem css to style 'Who We Are' section.
// This is pulled in from Ghost CMS now.
.media-content h2
    color: $dark-blue
.decorated
    border-bottom: $border-decoration