@charset "utf-8"

// @import "../styles/_myvariables.sass"

.not-found.hero
    .hero-body
        background: url('../assets/samantha-sophia-NaWKMlp3tVs-unsplash.jpg') no-repeat top center // Photo by Samantha Sophia on Unsplash
        background-size: cover
        align-items: normal

    .hero.is-fullheight-with-navbar
        min-height: calc(100vh - 8.6875rem)
