@charset "utf-8"

.container
    > h1
        text-shadow: 0 2px 3px rgba(10, 10, 10, 0.5)

.hero
    .hero-body.about-title
        align-items: initial

.blog-content figure
    overflow: hidden
    max-height: 21.875rem
