@charset "utf-8"

@import "../styles/_myvariables.sass"

.contact-page
    &.hero
        // background: url('../assets/whoislimos-kFVmYjK6hZ8-unsplash.jpg') center center // Photo by  on Unsplash
        // background-size: cover

    .container
        > h1
            // background-color: rgba(32, 30, 85, .90) // $dark-blue
            font-size: 4rem
            font-weight: bold
            color: $white
            padding: 1rem

    &.contact-content
        position: relative
        &.is-halfheight
            min-height: calc(50vh - #{$navbar-height} * 2)
