@charset "utf-8"

@import "../styles/_myvariables.sass"
@import "bulma/sass/base/animations.sass"
@import "bulma/sass/components/level.sass"
@import "bulma/sass/components/tabs.sass"
@import "bulma/sass/form/shared.sass"
@import "bulma/sass/form/input-textarea.sass"
@import "bulma/sass/form/tools.sass"
@import "bulma/sass/grid/tiles.sass"

body
    .index-page
        &.hero
            background: url('../assets/Easter2022_Web_BG_02.jpg') no-repeat center top
            background-size: cover
 
.index-page
    .hero-body
        // background: rgba(88, 202, 221, .5)
        padding: 10rem 1.5rem
        h1
            padding: 1rem
            display: block
            border: none
            svg g
                fill: currentColor
                stroke: currentColor
    .hero-image
        max-width: 50%

    .hero-underlay
        background: url('../assets/hero_baptism.jpg') no-repeat center top // fixed // Photo by SpaceX on Unsplash
        background-size: cover
        transition: padding .75s, background 1s

    &.subscriptions
        padding: 2rem 0

    &.about-us, &.gathering-section, &.blog-section
        background-color: $white
        
    &.image-content
        background: url('../assets/Service2022_01_Web_CROPPED.jpg') no-repeat center
        svg g
            fill: $white
            stroke: $white
        text-align: center
        background-size: cover

    &.verse-content
        text-align: center
        h2, p
            color: $dark-gray
        h2
            font-family: 'Dolly Regular', $family-primary
            text-transform: none
            @include from($tablet)
                font-size: 2.5rem
            @include from($desktop)
                font-size: 3.5rem
        p
            font-size: 0.75rem
            @include from($tablet)
                font-size: 1.75rem

    &.video-content
        position: relative
        background-color: $white
        figure
            overflow: hidden
            max-height: 21.875rem
        video:focus
            outline: none
        // @include from($tablet)
        // &:last-of-type
        //     margin: 1.5rem 1.75rem
    
    &.gathering-section
        .is-size-large
            padding: 0 2rem
        figure + .columns
            padding: 0 1.5rem
            

    &.gathering-section, &.kids-section, &.about-us
        p:first-of-type:before
            border-top: $border-decoration
            content: ''
            width: 5rem
            display: block

    &.caring-section
        background-color: #58cadd
        h1
            color: inherit
            font-weight: bold
            @include from($tablet)
                font-size: 3rem
        .heading
            margin-bottom: 1rem
            color: #fff

    .image.is-256x256
        height: auto
        width: 300px

    .content
        figure
            margin-left: 0
            margin-right: 0
            width: 100%
