@charset "utf-8"

@import "../styles/_myvariables.sass"
@import "bulma/sass/form/shared.sass"
@import "bulma/sass/form/input-textarea.sass"
@import "bulma/sass/form/tools.sass"
@import "bulma/sass/grid/tiles.sass"

.index-page
    .button
        transition: color $decoration-transition-time
        @each $name, $pair in $colors
            $color: nth($pair, 1)
            &.is-#{$name}
                text-transform: uppercase
                &:hover
                    color: $white

    &.about-us .button
        @each $name, $pair in $colors
            &.is-#{$name}:hover
                color: $turquoise

    .hero-body
        background: rgba(88, 202, 221, .5)
        h1
            padding: 1rem
            svg g
                fill: currentColor
                stroke: currentColor

    .hero-underlay
        background: url('../assets/hero_baptism.jpg') no-repeat center top // fixed // Photo by SpaceX on Unsplash
        background-size: cover
        transition: padding .75s, background 1s

        @include from($tablet)
            background-attachment: fixed

    .container
        h1, h2
            text-shadow: 0 2px 3px rgba(10, 10, 10, 0.5)
            transition: background-color $decoration-transition-time, color $decoration-transition-time, text-shadow $decoration-transition-time

    .modal-content
        @include from($tablet)
            width: 75%

    &.subscriptions
        padding: 3rem 0

    &.verse-content
        padding: 2rem 1rem
        @include from($tablet)
            padding: 3rem 0
        h2, p:first-child
            @include from($tablet)
                font-size: 2.5rem

    &.video-content
        position: relative
        figure
            overflow: hidden
            max-height: 21.875rem
        video:focus
            outline: none
        // @include from($tablet)
        // &:last-of-type
        //     margin: 1.5rem 1.75rem

    // Include serviceItem css to style 'Who We Are' section
    .media-content h2
        color: $dark-blue
    .decorated
        border-bottom: solid $turquoise 5px
