@charset "utf-8"

@import "../styles/_myvariables.sass"

.accordion
    > button
        all: inherit
        width: 100%
        position: relative
        cursor: pointer
        &:before, &:after
            content: ""
            position: absolute
            background-color: $link
            transition: transform $accordion-transition-time ease-out
        // Vertical line
        &:before
            top: 0
            right: 0.6875rem
            width: .25rem
            height: 1.625rem
        // horizontal line
        &:after
            top: .6875rem
            right: 0
            width: 1.625rem
            height: .25rem

    &.expanded > button
        &:before
            transform: rotate(90deg)
        &:after
            transform: rotate(180deg)

    &.expanded + .accordion-content
        max-height: var( --accordion-max-height )
        opacity: 1
        transition: all $accordion-transition-time ease-in
    & + .accordion-content
        max-height: 0
        opacity: 0
        overflow: hidden
        transition: all $accordion-transition-time ease-out
