@charset "utf-8"

@import "../styles/_myvariables.sass"

section
	.content, .container
		.first-word
			font-family: 'robotolight'
			font-weight: $weight-light
		.two-line-heading
			font-family: 'dollyregular'
			font-size: 2.5rem
			> .first-word
				display: block
				font-size: 1.5rem
	
	.fancy-heading
		margin-bottom: 0
		@include from($tablet)
			font-size: 3rem