@charset "utf-8"

@import "../styles/_myvariables.sass"

section
	.content, .container
		.first-word
			font-family: 'Roboto Light'
			font-weight: $weight-light
		.two-line-heading
			font-family: 'Dolly Regular'
			font-size: 2.5rem
			line-height: 1.125
			font-weight: $weight-semibold
			margin-bottom: 1.5rem
			> .first-word
				display: block
				font-size: 1.5rem
	
	.fancy-heading
		margin-bottom: 1.5rem
		@include from($tablet)
			font-size: 3rem